@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<div>
	<div>
		<div>m1</div>
		<div>m2</div>
		<div>m3</div>
	</div>
</div>